cirq>=1.4.1
numpy>=2.0.0
networkx>=3.4
pytest>=8.3.0
matplotlib>=3.9.0
qiskit>=1.3.0
dgl>=2.1.0
tqdm>=4.66.0
wandb>=0.18.0
pygame>=2.6.0
pytket>=1.35.0

torch>=2.5.0
torch-geometric>=2.6.0

setuptools
wheel
