cirq~=0.9.1
numpy~=1.17.2
networkx~=2.5
pytest~=6.2.0
matplotlib~=3.3.3
qiskit~=0.23.1
dgl~=0.5.3
tqdm~=4.54.1
wandb~=0.10.12
manimce~=0.1.1

torch
torch-scatter
torch-sparse
torch-cluster
torch-spline-conv
torch-geometric
